<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDemo</servlet-name>
        <servlet-class>LoginDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAdminServlet</servlet-name>
        <servlet-class>InsertAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTeacherServlet</servlet-name>
        <servlet-class>InsertTeacherServlet.InsertTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchStudentNameServlet</servlet-name>
        <servlet-class>FetchStudentNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchStudentDetailsServlet</servlet-name>
        <servlet-class>FetchStudentDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchServlet</servlet-name>
        <servlet-class>AdminSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTeacherServlet2</servlet-name>
        <servlet-class>InsertTeacherServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTeacherServlet3</servlet-name>
        <servlet-class>InsertTeacherServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowALL</servlet-name>
        <servlet-class>ShowALL</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDemo</servlet-name>
        <url-pattern>/LoginDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAdminServlet</servlet-name>
        <url-pattern>/InsertAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTeacherServlet</servlet-name>
        <url-pattern>/InsertTeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchStudentNameServlet</servlet-name>
        <url-pattern>/FetchStudentNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchStudentDetailsServlet</servlet-name>
        <url-pattern>/FetchStudentDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchServlet</servlet-name>
        <url-pattern>/AdminSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTeacherServlet2</servlet-name>
        <url-pattern>/InsertTeacherServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTeacherServlet3</servlet-name>
        <url-pattern>/InsertTeacherServlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowALL</servlet-name>
        <url-pattern>/ShowALL</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
